/* First add font-size:62.5%; in the root and then font-size:1.6rem in the body. This will help to calculate rem to pixels. 1rem equals to 10px */

:root {
    font-size:62.5%;
      --color-lightest: #fff4e6;
      --color-light: #ffe8cc;
      --color-medium: #ffa94d;
      --color-dark: #ff922b;
}
body {
  margin: 0;
  font-size: 1.6rem;
}
